* {
	font-family: "Droid Serif", serif;
}
.heading	{
	padding: 5px;
}
.app {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
aside	{
	border-radius: 10px;
	width: 40px;
	line-height: 175px;
	position: absolute;
	color: #fff;
	background-color: rgba(100,18,18,0.75);
}
.quote-container, .quote-example-container {
	border-radius: 10px;
	margin: 3px;
}
.quotes-list {
	min-height: 531px;
}
.quote-example-container {
	background-color: #ccc;
}
.quote-container {
	position: relative;
	height: 175px;
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
	background-color: #3782DC;
}
.quote {
	font-size: 1.2em;
	padding: 20px 50px 0;
	min-width: 75% !important;
	line-height: 110%;
}
.attributions {
	position: absolute;
	bottom: 0;
	background-color: rgba(100,18,18,0.75);
	min-width: 100%;
}
li {
	list-style-type: none;
}
.bullet, .heading-li {
	display: inline-block;
	font-size: 1.05em;
	font-family: sans-serif;
}
.bullet {
	padding: 1vh 3vw;
}
.heading-li {
	padding: 1vh 1vw;
}
.context {
	font-style: italic;
}
.pagination-numbers {
	min-width: 50%;
	padding: 0 50px;
}
.btn-primary {
	background-color: #3782DC;
}
.btn-primary:hover {
	background-color: rgba(100,18,18,1);
}