.app {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
aside	{
	border-radius: 10px;
	width: 40px;
	line-height: 125px;
	position: absolute;
	background-color: purple;
}
.quote-container, .quote-example-container {
	border-radius: 10px;
	margin: 3px;
}
.quotes-list {
	min-height: 393px;
}
.quote-container {
	height: 125px;
	background-color: aqua;
	overflow-y: auto;
	overflow-x: hidden;
}
.quote {
	padding: 20px 50px 0;
	min-width: 800px !important;
	line-height: 110%;
}
.bullet {
	display: inline-block;
	padding: 10px 50px;
}
.context {
	font-style: italic;
}
.pagination-numbers {
	min-width: 50%;
	padding: 0 50px;
}