<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8" />
		<title>Qool Quotes</title>

    <link rel="stylesheet" type="text/css" href="vendor/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="app/stylesheets/styles.css">

		<!-- vendor javascripts -->
  	<script src="vendor/javascripts/jquery-2.1.4.min.js"></script>
  	<script src="vendor/javascripts/underscore.js"></script>
  	<script src="vendor/javascripts/backbone.js"></script>

  	<!-- Backbone scripts -->
    <script src="app/javascripts/scripts.js" defer></script>
</head>
<body>
	<div class="container">
		<h1>Qool Quotes</h1>
		<!-- <table class="table"> -->
<!-- 			<thead>
	  		<tr>
	        <th>#</th>
	  			<th>Quote</th>
	  			<th>Context</th>
	  			<th>Source</th>
	  			<th>Theme</th>
	  		</tr>
			</thead> -->
			<ul class="quotes-list">
			</ul>
		<!-- </table> -->
		<div class="container">
			<div class="pagination"><button class="btn btn-primary previous-button">Previous</button></div>
			<div class="pagination pagination-numbers"><span>1</span></div>
			<div class="pagination"><button class="btn btn-primary next-button">Next</button></div>
		</div>
	</div>

		<script type="text/template" class="quotes-list-template">
	  <li class="bullet id"><%= id %></li>
		<li class="bullet quote"><%= quote %></li>
		<br>
		<li class="bullet context"><%= context %></li>
	  <li class="bullet source"><%= source %></li>
		<li class="bullet theme"><%= theme %></li>
		</script>
</body>
</html>